<template>
	<div
		class="dialog-message dialog-switch"
		:class="[
      left ? 'dialog-message_left' : null,
      ready ? 'dialog-switch_ready' : null
    ]"
	>
		<div class="dialog-message__content dialog-switch__content">
      <template v-if="!ready">
        <Button
          v-for="(action, index) in actions"
          :key="index"
          :room-key="action.roomKey"
          :time-to-execute="action.timeToExecute"
          :is-cooldown="action.isCooldown"
          :disable-all-actions="action.disableAllActions"
          :disabled="action.disabled"
          :call-instantly="action.callInstantly"
          :callbacks="action.callbacks"
          :children="action.children"
          :ignore-disable-all-actions="true"
          @init-callbacks="initCallbacks($event, action)"
        >
          {{ action.title }}
        </Button>
      </template>
      <template v-else>
        <div
          v-show="title"
          class="dialog-message__title"
        >
          {{ title }}
        </div>
        <div class="dialog-message__text">
          {{ ready.title }}
        </div>
        <div
          v-show="date"
          class="dialog-message__title dialog-message__date"
        >
          {{ date }}
        </div>
      </template>
		</div>
	</div>
</template>

<script>
import Button from '@/components/Button.vue';
export default {
  name: 'DialogSwitch',
  components: {
    Button
  },
  props: {
    title: String,
    date: String,
    actions: {
      type: Array,
      default () {
        return []
      }
    },
    left: Boolean
  },
  data () {
    return {
      ready: null
    }
  },
  methods: {
    initCallbacks ($event, action) {
      this.ready = action;
    }
  }
}
</script>

<style lang="scss">
  .dialog-switch {
    &:not(.dialog-switch_ready) {
      .dialog-switch__content {
        padding: 0;
        display: inline-flex;
        flex-direction: column;
      }
    }
    &__content {
      .button {
        position: relative;
        padding-left: 24px;
        text-align: right;
        border: none;
        border-radius: 0;
        &:before {
          content: '>';
          display: block;
          position: absolute;
          top: 6px;
          left: 10px;
        }
        & + .button {
          border-top: 1px solid #5f5f5f;
        }
      }
    }
  }
</style>