<template>
  <div
    class="dialog-message"
    :class="[
      color ? `dialog-message_color_${color}` : null,
      left ? 'dialog-message_left' : null,
    ]"
  >
    <div class="dialog-message__content">
      <div v-show="title" class="dialog-message__title">
        {{ computedTitle }}
      </div>
      <div class="dialog-message__text">
        {{ computedText }}
      </div>
      <div v-show="date" class="dialog-message__title dialog-message__date">
        {{ date }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "DialogMessage",
  props: {
    title: [String, Object],
    text: [String, Object],
    date: String,
    color: String,
    left: Boolean,
  },
  computed: {
    ...mapGetters({
      language: "language",
    }),
    computedTitle() {
      const title = this.title;

      if (typeof title === "string") {
        return title;
      } else {
        return title[this.language];
      }
    },
    computedText() {
      const text = this.text;

      if (typeof text === "string") {
        return text;
      } else {
        return text[this.language];
      }
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.dialog-message {
  position: relative;
  text-align: right;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 0;
    border-color: transparent #999 transparent transparent;
  }
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    margin-top: -1px;
    right: 11px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent #282b31 transparent transparent;
  }
  &__content {
    padding: 8px;
    border: 1px solid #999;
    background-color: #282b31;
    border-radius: 4px;
    display: inline-block;
    max-width: 70%;
    text-align: left;
  }
  &__title {
    color: #999999;
    font-size: 10px;
    & + .dialog-message__text {
      margin-top: 8px;
    }
  }
  &__text {
    & + .dialog-message__title {
      margin-top: 8px;
    }
  }
  &__date {
    text-align: right;
  }
  &_left {
    text-align: left;
    &:before {
      right: auto;
      left: 10px;
      border-width: 14px 14px 0 0;
      border-color: #999 transparent transparent transparent;
    }
    &:after {
      right: auto;
      left: 11px;
      border-width: 12px 12px 0 0;
      border-color: #282b31 transparent transparent transparent;
    }
  }
  &_color {
    &_danger {
      .dialog-message__text {
        color: $color-danger;
      }
    }
    &_info {
      .dialog-message__text {
        color: $color-info;
      }
    }
    &_success {
      .dialog-message__text {
        color: $color-success;
      }
    }
    &_warning {
      .dialog-message__text {
        color: $color-warning;
      }
    }
    &_grey {
      .dialog-message__text {
        color: $color-grey;
      }
    }
  }
}
</style>
