<template>
  <div class="message" :class="[color ? `message_color_${color}` : null]">
    <span class="color-warning">{{ date }}:</span>
    <span>{{ computedText }}</span>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { getCurrentTime } from "@/helpers/time.js";
export default {
  name: "Message",
  props: {
    text: [String, Object],
    color: String,
  },
  computed: {
    ...mapGetters({
      language: "language",
    }),
    computedText() {
      const text = this.text;

      if (typeof text === "string") {
        return text;
      } else {
        return text[this.language];
      }
    },
  },
  data() {
    return {
      date: getCurrentTime(),
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

.message {
  display: flex;
  > span {
    &:first-child {
      flex: 0 0 auto;
      width: 48px;
    }
    &:last-child {
      padding-left: 8px;
    }
  }
  &_color {
    &_danger {
      > span {
        &:last-child {
          color: $color-danger;
        }
      }
    }
    &_warning {
      > span {
        &:last-child {
          color: $color-warning;
        }
      }
    }
    &_success {
      > span {
        &:last-child {
          color: $color-success;
        }
      }
    }
    &_info {
      > span {
        &:last-child {
          color: $color-info;
        }
      }
    }
    &_grey {
      > span {
        &:last-child {
          color: $color-grey;
        }
      }
    }
  }
}
</style>
