.fade-bottom-enter,
.fade-bottom-leave-to {
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
}

.fade-bottom-enter-active,
.fade-bottom-leave-active {
  position: absolute;
}

.fade-bottom-enter-to {
  opacity: 1;
  top: 0;
}

.fade-bottom-leave {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.message-enter-active, .message-leave-active {
  transition: all .7s;
}

.message-enter, .message-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.scroll-enter-active, .scroll-leave-active {
  transition: all .2s ease-in-out;
  transform: scale(1, 1);
}

.scroll-enter, .scroll-leave-to {
  transform: scale(0, 1);
}