$default-border: 1px solid #2c2f34;
$color-dark: #1f2227;
$color-danger: red;
$color-warning: #f8b068;
$color-success: #6ce890;
$color-info: #00d0ff;
$color-grey: #8a8a8a;
$color-disabled: #4c4e52;
$font-size: 12px;