<template>
  <perfect-scrollbar class="ps-absolute-area">
    <transition-group
      :name="videoSettings.animationLog.value ? 'message' : null"
      tag="div"
    >
      <template v-for="message in computedLog">
        <DialogMessage
          v-if="message.type === 'dialog'"
          :key="message.id"
          :title="message.title"
          :text="message.text"
          :left="message.left"
        />
        <DialogSwitch
          v-else-if="message.type === 'dialogSwitch'"
          :key="message.id"
          :title="message.title"
          :actions="message.actions"
          :left="message.left"
        />
        <Message
          v-else
          :key="message.id"
          :text="message.text"
          :color="message.color"
        />
      </template>
    </transition-group>
  </perfect-scrollbar>
</template>

<script>
import { mapGetters } from 'vuex';
import Message from './components/Message';
import DialogMessage from './components/DialogMessage';
import DialogSwitch from './components/DialogSwitch';
export default {
  name: 'Log',
  components: {
    Message,
    DialogMessage,
    DialogSwitch
  },
  computed: {
		...mapGetters ({
			videoSettings: 'videoSettings',
      gameSettings: 'gameSettings',
			log: 'log'
    }),
    computedLog () {
      const log = [...this.log];

      return this.gameSettings.logDirection.value === 'DESC' ? log : log.reverse();
    }
  }
}
</script>

<style lang="scss">
.message {
  & + .message {
    margin-top: 8px;
  }
  & + .dialog-message {
    margin-top: 16px;
  }
}
.dialog-message {
  & + .message,
  & + .dialog-message {
    margin-top: 16px;
  }
}
</style>