<template>
  <div v-click-outside="hideList">
    <template
      v-if="
        children && typeof children === 'object' && Object.keys(children).length
      "
    >
      <button
        class="tab-button tab-button_arrow"
        :class="{
          active: childrenIsActive,
          'tab-button_list-opened': showList,
        }"
        :disabled="gameState.disableAllActions"
        @click.prevent="toggleList"
      >
        {{ title }}
      </button>
      <ul v-show="showList" class="dotted-list">
        <li v-for="(child, key) in children" :key="key" class="dotted-list__li">
          <div class="dotted-list__content">
            <button
              class="tab-button"
              :class="{ active: currentRoomKey === key }"
              :disabled="gameState.disableAllActions"
              @click.prevent="setRoom({ key })"
            >
              {{ child.title }}
            </button>
          </div>
        </li>
      </ul>
    </template>
    <button
      v-else
      class="tab-button"
      :class="{ active: currentRoomKey === roomKey }"
      :disabled="gameState.disableAllActions"
      @click.prevent="setRoom({ key: roomKey })"
    >
      {{ title }}
    </button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Location",
  props: {
    roomKey: [String, Number],
  },
  data() {
    return {
      showList: false,
    };
  },
  computed: {
    ...mapGetters({
      gameState: "gameState",
      rooms: "rooms",
      currentRoomKey: "currentRoomKey",
      language: "language",
    }),
    title() {
      const title = this.rooms[this.roomKey].title;
      
      if (typeof title === "string") {
        return title;
      } else {
        return title[this.language];
      }
    },
    children() {
      let children = {};

      for (let key in this.rooms) {
        const room = this.rooms[key];
        if (room.parentKey && room.parentKey === this.roomKey) {
          children[key] = room;
        }
      }

      return children;
    },
    childrenIsActive() {
      return this.rooms[this.currentRoomKey].parentKey === this.roomKey;
    },
  },
  methods: {
    ...mapActions({
      setRoom: "SET_ROOM",
    }),
    toggleList() {
      this.showList = !this.showList;
    },
    hideList() {
      this.showList = false;
    },
  },
};
</script>
