<template>
  <ul class="tabs">
    <template v-for="(room, key) in rooms">
      <li
        v-show="!room.disabled && !room.parentKey"
        :key="key"
        class="tabs__li"
      >
        <Location :room-key="key" />
      </li>
    </template>
  </ul>
</template>

<script>
import { mapGetters } from "vuex";
import Location from "./components/Location";

export default {
  name: "Navigation",
  components: {
    Location,
  },
  computed: {
    ...mapGetters({
      rooms: "rooms",
    }),
  },
};
</script>
