<template>
  <div class="actions">
    <transition-group name="fade-bottom">
      <div
        v-for="(action, index) in actions.filter(
          (action) => !action.hidden
        )"
        :key="`action_${index}`"
        class="actions__item"
      >
        <ActionsBlock
          v-show="!action.hidden"
          :room-key="roomKey"
          :title="action.title"
          :is-clicker="action.isClicker"
          :is-cooldown="action.isCooldown"
          :percent-per-click="action.percentPerClick"
          :percent-cooldown-speed="action.percentCooldownSpeed"
          :time-to-execute="action.timeToExecute"
          :call-instantly="action.callInstantly"
          :callbacks="action.callbacks"
          :children="action.children"
          :show-arrow="action.showArrow"
          :disabled="action.disabled"
          :disable-all-actions="action.disableAllActions"
        />
      </div>
    </transition-group>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Actions",
  computed: {
    ...mapGetters({
      gameSettings: "gameSettings",
      videoSettings: "videoSettings",
      roomKey: "currentRoomKey",
      actions: "currentRoomActions",
    }),
  },
};
</script>

<style lang="scss" scoped>
.actions {
  position: relative;
  &__list {
    flex-wrap: wrap;
    transition: opacity 0.6s ease, top 0.6s ease;
  }
  &__item {
    margin-bottom: 16px;
  }
}
</style>
