<template>
  <div class="actions-block">
    <ClickerButton
      v-if="isClicker"
      :room-key="roomKey"
      :percent-per-click="percentPerClick"
      :percent-cooldown-speed="percentCooldownSpeed"
      :call-instantly="callInstantly"
      :time-to-execute-single-time="timeToExecuteSingleTime"
      :callbacks="callbacks"
      :children="children"
      :show-arrow="showArrow"
      :show-children="showChidren"
      :disabled="disabled"
      :disable-all-actions="disableAllActions"
      @toggle-children-list="toggleChildrenList"
    >
      {{ computedTitle }}
    </ClickerButton>
    <Button
      v-else
      :room-key="roomKey"
      :time-to-execute="timeToExecute"
      :is-cooldown="isCooldown"
      :time-to-execute-single-time="timeToExecuteSingleTime"
      :call-instantly="callInstantly"
      :callbacks="callbacks"
      :children="children"
      :show-arrow="showArrow"
      :show-children="showChidren"
      :disabled="disabled"
      :disable-all-actions="disableAllActions"
      @toggle-children-list="toggleChildrenList"
    >
      {{ computedTitle }}
    </Button>
    <ul
      v-if="children && children.length"
      v-show="showChidren"
      class="dotted-list"
      :class="{ 'dotted-list_disabled': gameState.disableAllActions }"
    >
      <template v-for="(action, index) in children">
        <li v-show="!action.hidden" :key="index" class="dotted-list__li">
          <div class="dotted-list__content">
            <ActionsBlock
              :room-key="roomKey"
              :title="action.title"
              :is-clicker="action.isClicker"
              :is-cooldown="action.isCooldown"
              :percent-per-click="action.percentPerClick"
              :percent-cooldown-speed="action.percentCooldownSpeed"
              :time-to-execute="action.timeToExecute"
              :time-to-execute-single-time="action.timeToExecuteSingleTime"
              :call-instantly="action.callInstantly"
              :callbacks="action.callbacks"
              :children="action.children"
              :show-arrow="action.showArrow"
              :disabled="action.disabled"
              :disable-all-actions="action.disableAllActions"
            />
          </div>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Button from "./Button";
import ClickerButton from "./ClickerButton";
export default {
  name: "ActionsBlock",
  components: {
    Button,
    ClickerButton,
  },
  props: {
    roomKey: [String, Number],
    title: [String, Object],
    isClicker: Boolean,
    isCooldown: Boolean,
    percentPerClick: {
      type: Number,
      default: 10,
    },
    percentCooldownSpeed: {
      type: Number,
      default: 20,
    },
    timeToExecute: Number,
    timeToExecuteSingleTime: Boolean,
    disableAllActions: Boolean,
    disabled: Boolean,
    hidden: Boolean,
    callInstantly: {
      type: Array,
      default() {
        return [];
      },
    },
    callbacks: {
      type: Array,
      default() {
        return [];
      },
    },
    children: {
      type: Array,
      default() {
        return [];
      },
    },
    showArrow: Boolean,
  },
  data() {
    return {
      showChidren: false,
    };
  },
  computed: {
    ...mapGetters({
      gameState: "gameState",
      language: "language",
    }),
    computedTitle() {
      const { title, language } = this;

      if (typeof title === "string") {
        return title;
      } else {
        return title[language];
      }
    },
  },
  methods: {
    toggleChildrenList() {
      this.showChidren = !this.showChidren;
    },
  },
};
</script>
