<template>
  <button
    type="button"
    class="button"
    :class="{
      button_arrow: (children && children.length) || showArrow,
      'button_list-opened': showChildren,
    }"
    :disabled="
      disabled || (gameState.disableAllActions && !ignoreDisableAllActions)
    "
    @click="click"
  >
    <span :style="{ width: `${executePercent}%` }" />
    <slot />
  </button>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Button",
  props: {
    roomKey: [String, Number],
    timeToExecute: Number,
    timeToExecuteSingleTime: Boolean,
    isCooldown: Boolean,
    disableAllActions: Boolean,
    disabled: Boolean,
    showChildren: Boolean,
    ignoreDisableAllActions: Boolean,
    callInstantly: {
      type: Array,
      default() {
        return [];
      },
    },
    callbacks: {
      type: Array,
      default() {
        return [];
      },
    },
    children: {
      type: Array,
      default() {
        return [];
      },
    },
    showArrow: Boolean,
  },
  data() {
    return {
      executePercent: 0,
      interval: null,
      timeout: null,
      executed: false,
    };
  },
  computed: {
    ...mapGetters({
      gameState: "gameState",
    }),
  },
  methods: {
    ...mapActions({
      initCallbacks: "INIT_CALLBACKS",
      initDisableAllActions: "DISABLE_ALL_ACTIONS",
      initEnableAllActions: "ENABLE_ALL_ACTIONS",
    }),
    click() {
      if (this.timeToExecuteSingleTime === true && this.executed === true) {
        if (Array.isArray(this.children) === true && this.children.length > 0) {
          this.toggleChildrenList();
        }
      } else if (this.timeToExecute > 0) {
        if (this.timeout === null) {
          const intervalMilliseconds = 10;
          const timeToExecute = this.timeToExecute;
          const percentPerMilliseconds =
            (intervalMilliseconds * 100) / timeToExecute;

          if (this.isCooldown === true) {
            this.executePercent = 100;
          }

          this.interval = setInterval(() => {
            if (this.isCooldown === true) {
              this.executePercent -= percentPerMilliseconds;
            } else {
              this.executePercent += percentPerMilliseconds;
            }
          }, intervalMilliseconds);

          this.initCallInstantlyActions();

          if (this.disableAllActions === true) {
            this.initDisableAllActions();
          }

          this.timeout = setTimeout(() => {
            clearInterval(this.interval);
            this.executePercent = 0;
            this.timeout = null;

            this.initCallbacksActions();

            this.executed = true;

            if (this.disableAllActions === true) {
              this.initEnableAllActions();
            }
          }, timeToExecute);
        }
      } else {
        this.initCallInstantlyActions();
        this.initCallbacksActions();
        this.executed = true;
      }
    },
    initCallInstantlyActions() {
      if (
        Array.isArray(this.callInstantly) === true &&
        this.callInstantly.length > 0
      ) {
        this.initCallbacks({
          roomKey: this.roomKey,
          callbacks: this.callInstantly,
        });
      }
    },
    initCallbacksActions() {
      if (Array.isArray(this.children) && this.children.length > 0) {
        this.toggleChildrenList();
      }

      if (Array.isArray(this.callbacks) && this.callbacks.length > 0) {
        this.initCallbacks({
          roomKey: this.roomKey,
          callbacks: this.callbacks,
        });
      }
    },
    toggleChildrenList() {
      this.$emit("toggle-children-list");
    },
  },
};
</script>
