<template>
  <button
    type="button"
    class="button"
    :class="{
      'button_arrow': children && children.length,
      'button_list-opened': showChildren
    }"
    :disabled="disabled || (gameState.disableAllActions && !interval && !cooldownInterval)"
    @click="click"
  >
    <span :style="{width: `${executePercent}%`}" />
    <slot />
  </button>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'Button',
  props: {
    roomKey: [String, Number],
    percentPerClick: {
      type: Number,
      default: 10
    },
    percentCooldownSpeed: {
      type: Number,
      default: 20
    },
    disableAllActions: Boolean,
    disabled: Boolean,
    showChildren: Boolean,
    callInstantly: {
      type: Array,
      default () {
        return []
      }
    },
    callbacks: {
      type: Array,
      default () {
        return []
      }
    },
    children: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      executePercent: 0,
      interval: null,
      cooldownInterval: null,
      started: false
    }
  },
  computed: {
    ...mapGetters({
      gameState: 'gameState'
    })
  },
  methods: {
    ...mapActions({
      initCallbacks: 'INIT_CALLBACKS',
      initDisableAllActions: 'DISABLE_ALL_ACTIONS',
      initEnableAllActions: 'ENABLE_ALL_ACTIONS',
    }),
    click () {
      this.$emit('click');

      if (!this.cooldownInterval) {

        this.executePercent += this.percentPerClick;

        if (this.executePercent < 100) {
          if (this.interval) {
            this.clearCooldownInterval();
            this.runCooldown();
          } else {
            this.initCallInstantlyActions();

            this.runCooldown();

            if (this.disableAllActions) {
              this.initDisableAllActions();
            }
          }
        } else {
          this.clearCooldownInterval();
          this.initCallbacksActions(this.callbacks);

          this.cooldownInterval = setInterval(() => {
            this.executePercent -= 4;
            if (this.executePercent <= 0) {
              this.executePercent = 0;

              if (this.disableAllActions) {
                this.initEnableAllActions();
              }

              clearInterval(this.cooldownInterval);
              this.cooldownInterval = null;
            }
          }, 10);
        }
      }
    },
    runCooldown () {
      const intervalMilliseconds = 10;
      const percentCooldownSpeed = this.percentCooldownSpeed;
      let percentPerMilliseconds = intervalMilliseconds * percentCooldownSpeed / 1000;

      this.interval = setInterval(() => {
        this.executePercent -= percentPerMilliseconds;
        if (this.executePercent <= 0) {
          this.clearCooldownInterval();
          this.executePercent = 0;

          if (this.disableAllActions) {
            this.initEnableAllActions();
          }
        }
      }, intervalMilliseconds);
    },
    clearCooldownInterval () {
      clearInterval(this.interval);
      this.interval = null;
    },
    initCallInstantlyActions () {
      if (this.callInstantly && Array.isArray(this.callInstantly) && this.callInstantly.length) {
        this.initCallbacks({
          roomKey: this.roomKey,
          callbacks: this.callInstantly
        });
      }
    },
    initCallbacksActions () {
      if (this.children && this.children.length) {
        this.toggleChildrenList();
      }

      if (this.callbacks && Array.isArray(this.callbacks) && this.callbacks.length ) {
        this.initCallbacks({
          roomKey: this.roomKey,
          callbacks: this.callbacks
        });
      }
    },
    toggleChildrenList () {
      this.$emit('toggle-children-list');
    }
  }
}
</script>