<template>
  <div
    v-show="active"
    ref="popup"
    class="fixed-popup"
    :style="{
      top: `${coords.top}px`,
      left: `${coords.left}px`
    }"
    v-click-outside="clickOutside"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: 'FixedPopup',
  data () {
    return {
      coords: {
        top: 0,
        left: 0
      }
    }
  },
  props: {
    active: Boolean,
    selector: String,
    bottomOffset: {
      type: Number,
      default: 0
    },
    leftOffset: {
      type: Number,
      default: 0
    }
  },
  mounted () {
    this.getCoords();
  },
  methods: {
    clickOutside () {
      this.$emit('click-outside');
    },
    getCoords () {
      if (this.selector) {
        const $target = document.querySelector(this.selector);
        const $popup = this.$refs.popup;
        if ($target && $popup) {
          const box = $target.getBoundingClientRect();
          const popupHeight = $popup.clientHeight;
          const windowHeight = window.innerHeight + pageYOffset;
          let top = box.top + pageYOffset;
          let left = box.left + pageXOffset + box.width + this.leftOffset;

          if (top + popupHeight > windowHeight) {
            top = windowHeight - popupHeight - this.bottomOffset;
          }

          this.coords.top = top;
          this.coords.left = left;
        }
      }
    }
  },
  watch: {
    active (value) {
      if (value) {
        this.$nextTick(() => {
          this.getCoords();
        });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
.fixed-popup {
  position: fixed;
  z-index: 999;
  background-color: $color-dark;
}
</style>