<template>
	<div class="inventory">
		<div
			v-show="inventoryItems && typeof inventoryItems === 'object' && Object.keys(inventoryItems).length"
			class="inventory__content"
		>
			<perfect-scrollbar>
				<template
					v-for="(item, key) in inventoryItems"
					class="inventory-item"
				>
					<InventoryItem
						:key="key"
						:item-key="key"
						:title="item.title"
						:count="item.count"
						:weight="item.weight"
						:actions="item.actions"
					/>
				</template>
			</perfect-scrollbar>
		</div>
		<div class="inventory__footer">
			<SimpleStat
				title="Weight"
				:value="inventoryCurrentWeight"
				:max="inventory.maxWeight"
			/>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import SimpleStat from './SimpleStat';
import InventoryItem from './InventoryItem';

export default {
	name: 'Inventory',
	components: {
		SimpleStat,
		InventoryItem
	},
	computed: {
		...mapGetters({
			inventory: 'inventory',
			inventoryCurrentWeight: 'inventoryCurrentWeight',
			inventoryItems: 'inventoryItems',
		})
	}
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
.inventory {
	display: flex;
	flex-direction: column;
	overflow: auto;
	border-top: $default-border;
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		padding: 0;
		border-bottom: $default-border;
		.ps {
			height: 100%;
		}
	}
	&__footer {
		padding: 16px;
	}
}
</style>