<template>
  <FixedPopup
    :active="active"
    :selector="selector"
    :bottom-offset="16"
    :left-offset="16"
    @click-outside="clickOutside"
  >
    <div class="inventory-popup">
      <div class="inventory-popup__title">
        <span>{{ title }}</span>
        <span>x {{ count }}</span>
      </div>
      <div
        v-show="weight"
        class="inventory-popup__weight"
      >
        <span>вес: {{ weight }}</span>
        <span>итого: {{ (weight * count).toFixed(2) }}</span>
      </div>
      <div
        v-if="actions && actions.length"
        class="inventory-actions"
      >
        <template v-for="(action, index) in actions.filter(action => !action.hidden)">
          <ActionsBlock
            :key="index"
            :room-key="action.roomKey"
            :title="action.title"
            :is-clicker="action.isClicker"
            :is-cooldown="action.isCooldown"
            :percent-per-click="action.percentPerClick"
            :percent-cooldown-speed="action.percentCooldownSpeed"
            :time-to-execute="action.timeToExecute"
            :call-instantly="action.callInstantly"
            :callbacks="action.callbacks"
            :disabled="action.disabled"
            :disable-all-actions="action.disableAllActions"
          />
        </template>
      </div>
    </div>
  </FixedPopup>
</template>

<script>
import { mapActions } from 'vuex';
import FixedPopup from './FixedPopup';
import getCoordsMixin from '@/mixins/getCoordsMixin.js';
export default {
  name: 'InventoryPopup',
  components: {
    FixedPopup
  },
  mixins: [getCoordsMixin],
  props: {
    active: Boolean,
    itemKey: [String, Number],
    title: String,
    count: Number,
    weight: Number,
    actions: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      preventCloseTimeout: null
    }
  },
  computed: {
    selector () {
      if (this.itemKey) {
        return `#inventory-item_${this.itemKey}`;
      } else {
        return null;
      }
    }
  },
  methods: {
    ...mapActions({
      selectInventoryItem: 'SELECT_INVENTORY_ITEM'
    }),
    clickOutside () {
      if (this.active && !this.preventCloseTimeout) {
        this.selectInventoryItem(null);
      }
    },
    setPreventCloseTimeout () {
      this.preventCloseTimeout = setTimeout(() => {
        this.clearPreventCloseTimeout();
      }, 100);
    },
    clearPreventCloseTimeout () {
      clearTimeout(this.preventCloseTimeout);
      this.preventCloseTimeout = null;
    }
  },
  watch: {
    active (value) {
      if (value) {
        if (this.timeout) {
          this.clearPreventCloseTimeout();
          this.setPreventCloseTimeout();
        } else {
          this.setPreventCloseTimeout();
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/variables.scss';
.inventory-popup {
  width: 230px;
  background: darken($color-dark, 3%);
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  overflow: hidden;
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0;
    margin-bottom: 4px;
  }
  &__weight {
    display: flex;
    justify-content: space-between;
    color: darken(#fff, 40%);
    padding: 0 16px 16px;
    font-size: 10px;
  }
}

.inventory-actions {
  .button {
    width: 100%;
    border: none;
    border-top: 1px solid #5f5f5f;
    border-radius: 0;
  }
}
</style>