<template>
  <div
    :id="`inventory-item_${itemKey}`"
    class="inventory-item"
  >
    <button
      type="button"
      @click="selectItem"
      class="inventory-item__button"
      :class="{active: selectedItemKey === itemKey}"
    >
      <span>{{ title }}</span>
      <span>x {{ count }}</span>
    </button>
		<InventoryPopup
      :active="selectedItemKey === itemKey"
      :item-key="itemKey"
      :title="title"
      :count="count"
      :weight="weight"
      :actions="actions"
    />
  </div>
</template>

<script>
import InventoryPopup from './InventoryPopup';
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'InventoryItem',
  components: {
    InventoryPopup
  },
  props: {
    itemKey: [String, Number],
    title: String,
    count: Number,
    weight: Number,
    actions: {
      type: Array,
      default () {
        return []
      }
    }
  },
  computed: {
    ...mapGetters({
      selectedItemKey: 'selectedInventoryItemKey'
    })
  },
  methods: {
    ...mapActions({
      selectInventoryItem: 'SELECT_INVENTORY_ITEM'
    }),
    selectItem () {
      this.selectInventoryItem(this.itemKey);
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

.inventory-item {
  &__button {
    width: 100%;
    padding: 6px 16px;
    background: transparent;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    outline: none;
    cursor: pointer;
    &:hover,
    &:active,
    &.active {
      background: #fff;
      color: $color-dark;
    }
  }
}
</style>