<template>
	<div
		v-if="active"
		class="popup"
		:class="{'popup_fullsize': fullsize}"
	>
		<div
			class="popup__overlay"
			@click="closeByOverlay"
		/>
		<transition
			name="scroll"
			appear
		>
			<div class="popup__content">
				<slot />
			</div>
		</transition>
	</div>
</template>

<script>
export default {
	name: 'Popup',
	props: {
		active: Boolean,
		modal: Boolean,
		fullsize: Boolean
	},
	methods: {
		closeByOverlay () {
			if (!this.modal) {
				this.$emit('update:active', false)
			}
		}
	}
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 16px;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&_fullsize {
		.popup__content {
			flex: 1 1 auto;
		}
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .5);
	}
	&__content {
		position: relative;
		background-color: #fff;
		z-index: 10;
		width: 100%;
		max-width: 640px;
		overflow: auto;
		padding: 16px;
		color: $color-dark;
	}
}
</style>