<template>
  <div class="simple-stat">
    <div class="simple-stat__title">
      {{ title }}
    </div>
    <div class="simple-stat__divider" />
    <div class="simple-stat__value">
      <span v-show="max">{{ value }} / {{ max }} {{ suffix }}</span>
      <span v-show="!max">{{ value }} {{ suffix }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SimpleStat',
  props: {
    title: String,
    value: Number,
    max: Number,
    min: Number,
    suffix: String
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
.simple-stat {
	position: relative;
	width: 100%;
	white-space: nowrap;
  display: flex;
  &__divider {
    position: relative;
    flex: 1 1 auto;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 8px;
      right: 8px;
      height: 1px;
      background-color: #585858;
    }
  }
}
</style>