<template>
  <div
    v-if="stats && typeof stats === 'object' && Object.keys(stats).length"
    class="stats"
  >
    <div
      v-for="(stat, index) in stats"
      :key="index"
      class="stats__row"
    >
      <StatsBar
        v-if="stat.isBar"
        :title="stat.title"
        :value="stat.value"
        :max="stat.max"
        :min="stat.min"
        :suffix="stat.suffix"
      />
      <SimpleStat
        v-else
        :title="stat.title"
        :value="stat.value"
        :max="stat.max"
        :min="stat.min"
        :suffix="stat.suffix"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import StatsBar from './StatsBar';
import SimpleStat from './SimpleStat';

export default {
  name: 'Stats',
  components: {
    StatsBar,
    SimpleStat
  },
  computed: {
    ...mapGetters({
      stats: 'stats'
    })
  }
}
</script>

<style lang="scss" scoped>
.stats {
  padding: 16px;
	&__row {
		margin-bottom: 16px;
	}
}
</style>