<template>
  <div class="stats-bar">
    <div class="stats-bar__value stats-bar__value_background">
      <span>{{ title }}</span>
      <span v-show="max">{{ value }} / {{ max }}</span>
      <span v-show="!max">{{ value }}</span>
    </div>
    <div class="stats-bar__bar" :style="{width: `${width}%`}"/>
    <div
      class="stats-bar__value stats-bar__value_foreground"
      :style="{clipPath: `polygon(0% 0%, ${width}% 0%, ${width}% 100%, 0% 100%)`}"
    >
      <span>{{ title }}</span>
      <span v-show="max">{{ value }} / {{ max }}</span>
      <span v-show="!max">{{ value }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StatsBar',
  props: {
    title: String,
    value: Number,
    max: Number,
    min: Number
  },
  computed: {
    width () {
      let value = 0;

      if (this.max) {
        value = this.value * 100 / this.max;
      }

      return value;
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
.stats-bar {
	position: relative;
	width: 100%;
	height: 24px;
	border: 2px solid #fff;
	white-space: nowrap;
	&__value {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 8px;
		&_background {
			z-index: 10;
		}
		&_foreground {
			z-index: 30;
			color: $color-dark;
		}
	}
	&__bar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #fff;
		z-index: 20;
		transition: width .2s ease;
	}
}
</style>