<template>
  <div
    id="app"
    class="app"
    :class="[`app_font_${videoSettings.font.value}`]"
    :style="{
      fontSize: `${videoSettings.fontSize.value}px`,
      backgroundColor: `${colorScheme ? colorScheme.backgroundColor : null}`,
    }"
  >
    <main class="main">
      <div class="main__aside">
        <Stats />
        <Inventory />
      </div>
      <div class="main__log">
        <Log />
      </div>
      <div class="main__content">
        <Navigation />
        <Actions />
      </div>
      <div class="main__bar">
        <ul class="nav-bar">
          <li class="nav-bar__li">
            <button type="button" class="nav-bar__button">
              М
            </button>
          </li>
          <li class="nav-bar__li">
            <button
              type="button"
              class="nav-bar__button"
              @click="openMenu('settings')"
            >
              Н
            </button>
          </li>
        </ul>
      </div>
    </main>
    <Settings />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Stats from "@/components/Stats";
import Inventory from "@/components/Inventory";
import Log from "@/components/Log/index";
import Navigation from "@/components/Navigation/index";
import Actions from "@/components/Actions";
import Settings from "@/components/Settings/index";

export default {
  name: "App",
  components: {
    Stats,
    Inventory,
    Log,
    Navigation,
    Actions,
    Settings,
  },
  computed: {
    ...mapGetters({
      roomActions: "roomActions",
      gameSettings: "gameSettings",
      videoSettings: "videoSettings",
      colorScheme: "colorScheme",
    }),
  },
  mounted() {
    this.runCutscene("start_cutscene");
  },
  methods: {
    ...mapActions({
      openMenu: "OPEN_MENU",
      print: "PRINT",
      runCutscene: "RUN_CUTSCENE",
    }),
  },
};
</script>

<style lang="scss">
@font-face {
  font-family: "Retro";
  src: url("./assets/fonts/retro.ttf");
  font-weight: 400;
  font-style: normal;
}
@import "@/assets/scss/variables.scss";
@import "@/assets/scss/transitions.scss";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #fff;
  background: $color-dark;
  font-family: sans-serif;
}

button,
input,
select {
  font-size: inherit;
}

.app {
  transition: background-color .5s ease;
  &_font {
    &_retro {
      * {
        font-family: "retro", sans-serif;
      }
    }
    &_serif {
      * {
        font-family: serif;
      }
    }
    &_sans-serif {
      * {
        font-family: sans-serif;
      }
    }
  }
}

.ps {
  &.ps-absolute-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
  }
}

.button {
  position: relative;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 6px 8px;
  border-radius: 4px;
  opacity: 0.6;
  outline: none;
  overflow: hidden;
  text-align: left;
  > span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(#fff, 0.2);
    width: 50%;
    height: 100%;
  }
  &_arrow {
    padding-right: 24px;
    &:after {
      content: ">";
      display: block;
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -7px;
      transform: rotate(90deg);
      transition: transform 0.2s ease;
    }
  }
  &_list-opened {
    &:after {
      transform: rotate(270deg);
    }
  }
  &:not(:disabled) {
    cursor: pointer;
    &:hover,
    &:active,
    &.active {
      opacity: 1;
    }
  }
  &:disabled {
    opacity: 0.2;
    & + .button-wrap__list {
      > .button-wrap__li {
        &:before,
        &:after {
          background-color: $color-disabled;
        }
      }
    }
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  list-style-type: none;
  padding: 0;
  &__li {
    padding: 0 8px;
    margin-bottom: 16px;
  }
}

.dotted-list {
  padding: 0 0 0 24px;
  margin: 0;
  list-style-type: none;
  &__li {
    position: relative;
    margin-top: 16px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -16px;
      left: 0;
      width: 1px;
      height: calc(16px + 100%);
      background-color: #a5a6a8;
    }
    &:last-child {
      &:before {
        height: 32px;
      }
    }
  }
  &__content {
    position: relative;
    padding-left: 16px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 16px;
      margin-top: -2px;
      left: -2px;
      width: 5px;
      height: 5px;
      background-color: #a5a6a8;
      border-radius: 50%;
    }
  }
  &_disabled {
    .dotted-list__li,
    .dotted-list__content {
      &:before {
        background-color: $color-disabled;
      }
    }
  }
}

.tab-button {
  position: relative;
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: transparent;
  opacity: 0.6;
  outline: none;
  padding: 0 0 3px 0;
  &.active {
    opacity: 1;
  }
  &:not(:disabled) {
    cursor: pointer;
    &:hover,
    &:active,
    &.active {
      opacity: 1;
    }
  }
  &:disabled {
    opacity: 0.2;
  }
  &_arrow {
    padding-right: 24px;
    &:after {
      content: ">";
      display: block;
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -8px;
      transform: rotate(90deg);
      transition: transform 0.2s ease;
    }
    &:before {
      content: "";
      position: absolute;
      right: 24px;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: #a5a6a8;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: transform 0.2s ease;
    }
  }
  &_list-opened {
    &:before {
      transform: scaleX(1);
    }
    &:after {
      transform: rotate(270deg);
    }
  }
}

.text-center {
  text-align: center;
}

h2,
.h2 {
  margin: 0;
}

.underline-title {
  display: inline-block;
  padding: 0 16px 8px;
  border-bottom: 1px solid rgba(#000, 0.3);
}

.fieldset-block {
  position: relative;
  padding: 16px;
  border: 1px solid rgba(#000, 0.3);
  border-radius: 4px;
  &__title {
    padding: 0 8px;
  }
}

.label {
  margin-bottom: 8px;
}

@for $i from 1 through 8 {
  .my-#{$i} {
    margin-top: 8px * $i;
    margin-bottom: 8px * $i;
  }
  .mb-#{$i} {
    margin-bottom: 8px * $i;
  }
  .mt-#{$i} {
    margin-top: 8px * $i;
  }
}

.color-danger {
  color: $color-danger;
}

.color-warning {
  color: $color-warning;
}

.color-success {
  color: $color-success;
}

.color-grey {
  color: $color-grey;
}

.color-info {
  color: $color-info;
}
</style>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  flex: 0 0 auto;
  border-top: $default-border;
  z-index: 10;
  background: #1f2227;
  &__top {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
}

.main {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  overflow: hidden;
  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 290px;
    height: 100%;
    border-right: $default-border;
  }
  &__log {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: $default-border;
  }
  &__content {
    flex: 1 1 auto;
    width: 50%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    border-right: $default-border;
  }
  &__bar {
    width: 40px;
    height: 100%;
    flex: 0 0 auto;
  }
}

.nav-bar {
  padding: 0;
  margin: 0;
  list-style-type: none;
  &__li {
    & + .nav-bar__li {
      border-top: $default-border;
    }
  }
  &__button {
    height: 40px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
    &:hover,
    &:active,
    &.active {
      background-color: #2c2f34;
    }
  }
}
</style>
