<template>
  <Popup :active.sync="menu.settings.active" fullsize>
    <div class="text-center mt-1 mb-3">
      <h2 class="underline-title">Settings</h2>
    </div>
    <div class="settings">
      <fieldset
        v-for="(block, blockKey, index) in settings"
        :key="index"
        class="fieldset-block settings__block"
      >
        <legend class="fieldset-block__title">
          {{ block.title }}
        </legend>
        <div
          v-for="(option, optionKey, index) in block.options"
          :key="index"
          class="settings__row"
        >
          <label v-if="option.type === 'checkbox'">
            <input
              type="checkbox"
              :checked="option.value"
              @change="
                changeSettingsValue({
                  block: blockKey,
                  option: optionKey,
                  value: $event.target.checked,
                })
              "
            />
            {{ option.title }}
          </label>
          <label v-else-if="option.type === 'selectbox'">
            {{ option.title }}
            <select
              :value="option.value"
              style="width: 100px; margin-left: 8px;"
              @change="
                changeSettingsValue({
                  block: blockKey,
                  option: optionKey,
                  value: $event.target.value,
                })
              "
            >
              <option
                v-for="(selecboxOption, i) in option.values"
                :key="i"
                :value="selecboxOption"
              >
                {{ selecboxOption }}
              </option>
            </select>
          </label>
          <label v-else>
            {{ option.title }}
            <input
              style="width: 100px; margin-left: 8px;"
              :type="option.type"
              :placeholder="option.title"
              :value="option.value"
              @change="
                changeSettingsValue({
                  block: blockKey,
                  option: optionKey,
                  value: $event.target.value,
                })
              "
            />
          </label>
        </div>
      </fieldset>
    </div>
  </Popup>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Popup from "@/components/Popup";

export default {
  name: "Settings",
  components: {
    Popup,
  },
  computed: {
    ...mapGetters({
      menu: "menu",
      settings: "settings",
    }),
  },
  methods: {
    ...mapActions({
      changeSettingsValue: "CHANGE_SETTINGS_VALUE",
    }),
  },
};
</script>

<style lang="scss" scoped>
  .settings {
    &__block {
      & + .settings__block {
        margin-top: 24px;
      }
    }
    &__row {
      & + .settings__row {
        margin-top: 16px;
      }
    }
  }
</style>
